---
import { work } from "@cv"
import { format } from "@formkit/tempo"
---
<!-- Experience-->
<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experiencia</h2>

    {
        work.map(
          ({ name, startDate, endDate, position, summary, highlights, url }) => {
            
            const startYear = format( new Date(startDate), "MMMM, YYYY")
            
            const endYear =
              endDate != null ? format( new Date(endDate), "MMMM, YYYY") : "Actual"

          //   const startYear = new Date(startDate)
          // const endYear =
          //   endDate != null ? new Date(endDate) : "Actual"
  
            return (
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{position}</h3>
                        <div class="subheading mb-3">{name}</div>
                        <p>
                            <Fragment set:html={summary} />
                        </p>
                    </div>
                    <div class="flex-shrink-0">
                        <span class="text-primary">{startYear} - {endYear}</span>
                    </div>
                </div>
            )
          }
        )
      }
  </div>
</section>
